[submodule "third_party/icu/src"]
	path = third_party/icu/src
	url = https://github.com/unicode-org/icu.git
[submodule "third_party/icu"]
	path = third_party/icu
	url = https://chromium.googlesource.com/chromium/deps/icu.git
